@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@layer components {
    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
    .scrolling-text {
      @apply whitespace-nowrap overflow-hidden block;
      animation: scroll 10s linear infinite;
    }
  }
  

body {
  background-color: white;
  font-family: "Orbitron", sans-serif;
}
